/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@media (prefers-reduced-motion: no-preference) {

  /* анимация при фокусе пункта темы - появляется подчеркивание */
  .theme-menu__button:focus-visible::after {
    transform-origin: left center;
    transition: transform 0.3s ease;
  }
  
  /* анимация при наведении на пункт темы - плавно меняется прозрачность */
  .theme-menu__button:hover {
    transition: opacity 0.3s ease;
  }
  
  /* анимация возле активного пункта темы - влево вправо  */
  .theme-menu__item button:disabled::before {
    top: 50%;
    animation: menu-marker 0.8s ease-in-out infinite;
  }
  
  @keyframes menu-marker {
    0% {
      transform: translateY(-50%) translateX(0);
    }
    50% {
      transform: translateY(-50%) translateX(0.25rem);
    }
    100% {
      transform: translateY(-50%) translateX(0);
    }
  }

  /* анимация кнопок like и сохранить на память и др */
  .button:not(.card__icon-button)::after {
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.6s ease-in-out;
  }
  
  .button:not(.card__icon-button):hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition: transform 0.6s ease-in-out;
  }

  /* анимация - текст кнопки */
  .button:not(.card__icon-button) .button__text {
    color: var(--text-color);
    transition: color 1s ease;
  }
  .button:not(.card__icon-button):hover .button__text {
    color: var(--bg-color);
    transition: color 1s ease;
  }

  /* анимация - иконка кнопки */
  .button:not(.card__icon-button) .icon > svg {
    color: var(--text-color);
    transition: color 1s ease;
  }

  .button:not(.card__icon-button):hover .icon > svg {
    color: var(--bg-color);
    transition: color 1s ease;
  }
  
  /* анимация кнопки сердца */
  .card__icon-button.like-icon {
    animation: heart-beat 1.2s ease-in-out infinite;
  }
  
  .card__icon-button.like-icon:hover {
    animation-play-state: running;
  }
  
  @keyframes heart-beat {
    0% {
      transform: scale(1);
    }
  
    20% {
      transform: scale(1);
    }
  
    40% {
      transform: scale(1);
    }
  
    60% {
      transform: scale(1.2);
    }
  
    80% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1);
    }
  }


}
